In [109]:
#importing libraries

import numpy as np
import pandas as pd

In [110]:
#load the data set

df=pd.read_csv('./diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [111]:
#checking the null values

df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [112]:
#split the data

x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [113]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [114]:
#importing the libraries for split the data into train and test

import sklearn
from sklearn.model_selection import train_test_split

In [115]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=10)

In [116]:
x_train.shape

(614, 8)

In [117]:
x_test.shape

(154, 8)

In [118]:
#Make a Classiffication model for data

from sklearn.linear_model import LogisticRegression

In [119]:
reg = LogisticRegression()

In [120]:
reg.fit(x_train,y_train)

LogisticRegression()

In [121]:
y_train_pred=reg.predict(x_train)

In [122]:
y_test_pred=reg.predict(x_test)

In [123]:
#Finding the accuracy

from sklearn.metrics import accuracy_score

In [124]:
print('train accuracy=',accuracy_score(y_train,y_train_pred))

train accuracy= 0.7719869706840391

In [125]:
print('test accuracy=',accuracy_score(y_test,y_test_pred))

test accuracy= 0.7662337662337663